body {
    font-family: cursive;
    background-color: yellow;
}

textarea {
    display: block;
    margin: 2rem auto ;
    padding: 1rem;
    border: 2px dashed blue;
}

button {
    display: block;
    margin: auto;
    padding: 1rem 2rem;
    font-family: cursive;
    border-radius: 1rem;
}

button:hover {
    background-color:red;
    color: seashell;
}